/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


/* Armazenando cód. de cores em variável */
@theme {
    --color-font-border: #E8E4DF;
    --color-gray-medium: #B5B0AB;
    --color-dark-title: #2a2a2a;
    --color-red-akaer: #8B0000;

    --font-inter: 'Inter';
    --font-dm: 'DM Sans';
}